header {
  display: flex;
  justify-content: space-between;
}

header > * { 
  /* Uncomment the following line and see what happens! Inspect the flexbox to see what's happening. */
  /* flex: auto; */
}

label, input {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}
