/* Base layout and typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.6;
}

header, main {
  padding: 1rem;
}

header {
  text-align: center;
}

main {
  max-width: 85ch;
  margin: auto;
}

/* Primary Navigation */
nav ul {
  background-color: black;
}

/* Clickable links */
nav a {
  display: block;
  padding: 1rem;

  color: white;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: black;
  background-color: white;
}
