body {
  font-family: 'Oswald', sans-serif;
  /* background-image: url('https://picsum.photos/id/2/1500/3000'); */
  background-color: #1b1b2b;
  /* background-size: cover; */
  /* margin: 0; */
  /* min-height: 100vh; */
  text-align: center;
  padding: 75px;
  font-size: 24px;
}

nav ul {
  list-style: none;
  margin: 10px;
}

h1 {
  color: #c0c0c0;
  font-weight: 100;
}

li {
  margin: 20px;
  padding: 10px 20px;
}

li > a {
  background: rgba(0, 0, 0, 0.5);
  color: #999;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #999;
  padding: 20px 10px;
}

li a:hover {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 20px 20px;
  color: #1b1b1b;
}

